.root {
    padding: 0;
    margin: 0 0 0.5em;
    overflow-wrap: break-word;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}