.root {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        display: block;
        margin: 0 auto;
    }  

    .btnBack {
        margin: 0 auto;
    }
}

.btnBack {
    margin: 0 auto;
}